.NavigationBar{
    padding: .66rem 0;
    background-color: #1a7ae8;
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
    color: #fff;
    display: flex;
    justify-content: flex-start;
}


 .NavigationBarLi{
    display: inline-flex; 
    padding-right: 15px;
    text-decoration: none;
    font-size: .8em;
   
} 

a{
    color: yellow;
    text-decoration: none;
}

a:hover{
    color: white;
}


.NavigationBarBrand{
    justify-content: flex-start;
    margin-right: 30%;
    padding-left: 1.5em;
}